.banner {
  background-color: #d1e8d8; /* Светло-зеленый фон, ассоциируется с природой */
  color: #4a3c31; /* Коричневый цвет текста */
  padding: 15px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #a6b89d; /* Бежевый оттенок для границы */
  border-radius: 5px;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeIn 1s forwards; /* Анимация появления */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
