.blog-section {
  padding-top: 30px;
}

.addButton {
  height: 50px;
  width: 200px;
  border-style: none;
  border-radius: 10px;
  font-size: 16pt;
  margin-top: 30px;
}

.blog-posts {
  margin-top: 30px;
}

.blog-post {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
}

.blog-post h3 {
  margin: 0;
  font-size: 20px;
}

.blog-post p {
  font-size: 16px;
}

.read-more {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  color: #0070f3;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

.blog-link {
  margin-top: 20px;
  text-align: center;
}

div li {
  font-size: 16px;
  color: #0070f3;
  text-decoration: none;
}

div li:hover {
  text-decoration: underline;
  cursor: pointer;
}
