.Cabinet {
  width: 100%;
  min-height: calc(100vh - 50px - 50px);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

.Cabinet h1 {
  margin-bottom: 20px;
}

.Cabinet input {
  height: 30px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.Cabinet p {
  margin-bottom: 10px;
}

.Cabinet button {
  height: 30px;
  width: 300px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 14pt;
  border-style: none;
}

/* Мои заказы */
.Cabinet h2 {
  margin-bottom: 10px;
}

.Cabinet .order {
  margin-bottom: 10px;
  border-bottom: 1px solid #000;
  width: 400px;
}

.Cabinet .order div {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .Cabinet .order button {
} */
