.order-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 350px;
  margin: 10px;
}

.order-form div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-form input {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* .back-btn {
  background-color: #e9e9ed;
  border: none;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  padding: 6px 10px;
}

.order-btn {
  background-color: #a1d8f8;
  border: none;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  padding: 6px 10px;
} */
