.Cart {
  width: 100%;
  min-height: calc(100vh - 50px - 50px);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Cart .order {
  height: 50px;
  width: 200px;
  margin-top: 15px;
  border-style: none;
  border-radius: 6px;
  font-size: 16pt;
  margin-bottom: 15px;
}

/*Product table*/
.cart-table {
  width: 80%;
  border-collapse: collapse;

  margin: 20px;
}

.cart-table th,
.cart-table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.qty-control {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.qty-control button {
  width: 26px;
  height: 26px;
  border: none;
  background: #eee;
  cursor: pointer;
}

.clear-btn {
  border: none;
  text-decoration: underline;
  background: none;
  cursor: pointer;
}

/* @media (max-width: 768px) {
  .CartContent {
    min-height: calc(100vh - 160px - 50px);
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 426px) {
  .CartContent {
    grid-template-columns: repeat(1, 1fr);
  }
} */
