* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  text-align: center;
}

h4 {
  font-weight: 500;
}

button.danger {
  background: #d9534f;
  color: white;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

button.danger:hover {
  background: #b94743;
}
