* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Lora", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
} */

.App {
  text-align: center;
}

h4 {
  font-weight: 500;
}

button.danger {
  background: #d9534f;
  color: white;
  /* padding: 6px 10px; */
  border: none;
  cursor: pointer;
  border-radius: 6px;
  margin: 5px;
  text-align: center;
  font-size: 16px;
}

button.danger:hover {
  background: #b94743;
}

input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding-left: 10px;
}
