.ModalBox {
  width: 400px;
  height: auto;
  min-height: 150px;
  border-radius: 10px;
  background-color: white;
  padding: 10px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001;
  border: 1px solid #a6b89d;
}

.ModalBox h1 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.ModalBox input {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
}

.ModalBox button {
  width: 40%;
  height: 30px;
  background-color: #b9d8c2;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 10px 0 10px;
}

.ModalBox button:hover {
  background-color: #cbe2d0;
}

.echo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;

  background: rgba(0, 0, 0, 0.4);
}
