/* Основной контейнер страницы товара */
.product-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

/* Контейнер с картинкой и информацией о товаре */
.product-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 40px;
}

/* Изображение товара */
.product-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #a6b89d;
}

/* Информация о товаре */
.product-info {
  max-width: 600px;
  flex-grow: 1;
}

/* Заголовок товара */
.product-info h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Описание товара */
.product-info p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

.buy-area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* Цена товара */
.product-info .price {
  font-size: 24px;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
}

/* Кнопка добавления в корзину */
.add-to-cart {
  background-color: #b9d8c2;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.add-to-cart:hover {
  background-color: #cbe2d0;
}

.add-to-cart:active {
  background-color: #92a396;
}

/* Отзывы */
.product-page h2 {
  font-size: 24px;
  margin-top: 40px;
  color: #333;
  font-weight: bold;
}

.review-form {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-form h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.review-form label {
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
  color: #333;
}

.review-form select,
.review-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 15px;
  resize: vertical;
}

/* Стиль для кнопки отправки отзыва */
.review-form button {
  background-color: #b9d8c2;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.review-form button:hover {
  background-color: #cbe2d0;
}

.review-form button:active {
  background-color: #92a396;
}

/* Отзывы */
.review {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #a6b89d;
}

.review .review-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.review .review-header span {
  font-size: 14px;
}

.review .review-header span:first-child {
  font-weight: bold;
}

.review p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
}

.review .review-date {
  font-size: 12px;
  color: #bbb;
  margin-top: 10px;
}

.delete-review {
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.delete-review:hover {
  background-color: #c0392b;
}

/*Описание товара*/
.product-page p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  text-transform: none;
  word-wrap: break-word;
}
