.ProductCart {
  width: 250px;
  height: 480px;
  padding: 30px;
  box-shadow: 0px 0px 5px 5px #dfdddf;
  margin: auto;
}

.ProductCart img {
  height: 200px;
  width: auto;
  margin-bottom: 10px;
}

.ProductCart h1 {
  font-size: 20pt;
  margin-bottom: 10px;
}

.ProductCart p {
  font-size: 14pt;
  margin-bottom: 10px;
}

.ProductCart .del {
  height: 50px;
  width: 200px;
  border-style: none;
  border-radius: 10px;
  font-size: 16pt;
}

.ProductCart .cartQty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.ProductCart .cartQty button {
  width: 30px;
  border-style: none;
  border-radius: 10px;
  font-size: 16pt;
}
