.UserBox {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.UserBox button {
  width: 100px;
  height: 35px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.UserBox a {
  margin: 0 5px 0 5px;
}

.UserBox button:hover {
  background-color: #67c090;
}

@media (max-width: 426px) {
  .UserBox {
    flex-direction: column;
  }

  .UserBox p {
    margin-bottom: 15px;
    margin-top: 10px;
  }
}
