.UserBox {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.UserBox button {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.UserBox button:hover {
  background-color: #6ebcff;
}

@media (max-width: 426px) {
  .UserBox {
    flex-direction: column;
  }

  .UserBox p {
    margin-bottom: 15px;
    margin-top: 10px;
  }
}
